<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <title>User Home | Smart Contact Manager</title>
</head>

<body>

<section>
    <div class="container mt-5">
        <h2 class="text-center">Welcome to Smart Contact Manager</h2>
        <p class="text-center lead">
            This is your home page inside the dashboard.
        </p>
        

        <div class="text-center mt-4">
            <img th:src="@{/image/user-about.jpg}" alt="User Home Image" style="max-width: 60%; border-radius: 10px;">
        </div>
        
         <a th:href="@{/user/add-contact}" class="btn btn-primary mt-3">Start Adding your contact</a>

    </div>
    
   
</section>

</body>

</html>
